{
  "extends": "airbnb",
  "plugins": ["react-hooks"],
  "rules": {
    "semi": "off",
    "jsx-quotes": "off",
    "react/jsx-filename-extension": "off",
    "arrow-parens": "off",
    "react/jsx-props-no-spreading": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "arrow-body-style": "off",
    "linebreak-style": "off",
    "no-trailing-spaces": "off",
    "react/jsx-tag-spacing": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "no-unused-vars": "off",
    "no-undef": "off",
    "no-use-before-define": "off",
    "spaced-comment": "off",
    "import/order": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "import/prefer-default-export": "off",
    "react/no-array-index-key": "off",
    "no-console": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "react/jsx-one-expression-per-line": "off"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
