@import "variables";

.checkbox {
  display: block;
  padding-left: 30px;
  width: 100%;
  color: $darkest;

  &__input {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  &__icon {
    position: absolute;
    margin-left: -30px;
    width: 20px;
    height: 20px;
    border: 1px solid $dark;
    border-radius: 2px;
  }

  &__input:checked + &__icon {
    border-color: $main;
    background: url(../assets/checked.svg) no-repeat center center;
  }
}
